* {
  box-sizing: border-box; }

html, body {
  background-color: lightgray; }

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  align-content: center; }

.topmenu {
  text-align: center; }

.topnav {
  text-align: center;
  font-size: large;
  height: 50px;
  padding-top: 15px;
  background-color: black; }
  .topnav a:hover {
    background-color: white;
    padding: 15px 10px 15px 10px;
    color: black;
    border-radius: 25px; }
  .topnav li {
    display: inline;
    padding: 0px 20px 0px 20px; }
    .topnav li a {
      text-decoration: none;
      color: white;
      font-size: 1vw; }

.logo {
  padding-top: 30px;
  padding-bottom: 30px; }
  .logo img {
    width: 15%;
    height: 15%; }

.mainbox {
  display: inline;
  alignment: center;
  width: 100%;
  height: 100%; }

.left {
  padding-top: 50px;
  border-radius: 25px;
  color: white;
  background-color: black;
  float: left;
  width: 15%;
  height: 100%;
  font-size: 1vw;
  display: block; }
  .left img {
    width: 100%;
    height: 100%;
    padding: 30px 30px 30px 30px;
    margin-bottom: 40px; }

.right {
  padding-top: 50px;
  color: white;
  border-radius: 25px;
  background-color: black;
  float: left;
  font-size: 1vw;
  width: 15%;
  height: 100%; }
  .right ul li {
    display: block; }
  .right img {
    width: 100%;
    height: auto;
    padding: 30px 30px 30px 30px;
    margin: auto;
    margin-bottom: 40px;
    display: block; }

.main {
  text-align: left;
  text-indent: 40px;
  font-size: 1.5vw;
  color: black;
  float: left;
  background-color: lightgray;
  width: 70%;
  height: 100%;
  padding: 15px 10px 10px 10px; }

.bottom {
  width: 100%;
  color: dimgrey;
  background-color: lightgray;
  clear: both;
  border-radius: 10px; }

p {
  padding-bottom: 20px; }
  p span {
    display: block; }

.kontakti {
  margin: 0 auto;
  text-indent: 40px;
  font-size: large;
  color: black;
  float: left;
  background-color: lightgray;
  width: 70%;
  height: 100%;
  padding: 15px 10px 10px 10px; }

.atteli {
  text-align: center; }
  .atteli img {
    width: 100%;
    height: auto; }

.vraksts {
  font-size: x-large;
  font-weight: bolder; }

iframe {
  width: 50%;
  height: 50%; }

.galerijasmenu {
  text-align: center; }

.galerijas {
  text-align: center;
  font-size: large;
  width: 100%;
  height: 50px;
  padding-top: 15px;
  border-radius: 50%;
  background-color: black; }
  .galerijas a:hover {
    background-color: white;
    padding: 15px 10px 15px 10px;
    color: black;
    border-radius: 25px; }
  .galerijas li {
    display: inline;
    padding: 0px 20px 0px 20px; }
    .galerijas li a {
      text-decoration: none;
      color: white;
      font-size: 1vw; }

.anketa input {
  width: 100%; }

div.gallery {
  margin: 2px;
  float: left;
  width: 180px; }
  div.gallery img {
    width: 90%;
    height: 70%; }

/*# sourceMappingURL=main.css.map */
